---

---

<a id="contact" href="">frederik.baeurle(at)gmx.net</a>

<script>
  var encEmail = "YW5uYXNlY2stbmFjaGhpbGZlQG91dGxvb2suY29t";
  const form = document.getElementById("contact");
  form?.setAttribute("href", "mailto:".concat(atob(encEmail)));
</script>
